@font-face {
  font-family: 'Inter-R';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-M';
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  background-color: #131313;
  font-family: 'Inter-R';
}

main {
  height: 100%;
  display: flex;
}

.sidebar {
  padding: 2rem 0 2rem 2rem;
}

.content {
  width: 100%;
  padding: 2rem;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-menu li {
  list-style-type: none;
  color: #ddd;
  padding: 10px 14px;
  width: 220px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-family: 'Inter-M';
}

.sidebar-menu li i {
  font-size: 24px;
}

.sidebar-menu li:hover {
  background-color: #5050ff;
  color: #fff;
}

.sidebar-menu li.active {
  background-color: #5050ff;
  color: #fff;
}

.sidebar-info {
  padding-top: 1rem;
  padding-left: 14px;
  color: #848484;
  font-size: 12px;
  cursor: default;
}

.wrapper {
  padding: 12px;
  background-color: #191919;
  border-radius: 4px;
  border: 1px solid #262525;
}

.head {
  color: #fff;
}

.info {
  color: #848484;
  cursor: default;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding: 3.2rem;
}

.info i {
  font-size: 46px;
}

a {
  text-decoration: none;
  color: #5050ff;
}

a:hover {
  text-decoration: underline;
}
